/*************** GERAL ***************/

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    border: 1px solid #DBDBDB;
    background-color: #FB6B6B;
    font-family: 'Roboto', sans-serif;
}

.escondido {
    display: none;
}

/*************** TELA 1 ***************/

.telaInicial {
    width: 99vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.telaInicial .container {
    margin-bottom: 73px;
}

.telaInicial .container img {
    width: 55px;
    height: 65px;
    margin-bottom: 10px;
}

.telaInicial .container h1 {
    width: 152px;
    height: 35px;
    font-size: 25px;
    line-height: 31px;
    color: #FFFFFF;
}

.telaInicial button {
    width: 141px;
    height: 31px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.telaInicial button p {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #D70900;
}

.telaInicial button:hover {
    cursor: pointer;
    background-color: whitesmoke;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
}

/*************** TELA 2 ***************/

.telaPerguntas header {
    top: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.telaPerguntas img {
    width: 26px;
    height: 30px;
    margin-right: 10px;
}

.telaPerguntas h1 {
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.telaPerguntas main {
    width: calc(100vw - 1px);
    height: calc(100vh - 100px);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.telaPerguntas main p {
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}

.telaPerguntas main img {
    width: 13px;
    height: 13px;
}

.telaPerguntas footer {
    width: 100vw;
    height: 50px;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.telaPerguntas footer p {
    width: 97px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}

/*************** Decks ***************/

.perguntas {
    width: 182px;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    background: #FFFFFF;
}

.perguntas:hover {
    cursor: pointer;
    background-color: whitesmoke;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
}

/*************** FLASHCARDS ***************/

.cards {
    width: 182px;
    min-height: 80px;   
    padding: 10px;
    margin-bottom: 14px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    position: relative;
    background: #FFFFD5;
}

.cards img {
    bottom: 5px;
    right: 2px;
    min-width: 20px;
    min-height: 13px;
    position: absolute;
}

.cards img:hover {
    cursor: pointer;
}

.cards .caixinhas {
    display: flex;
    margin-bottom: 2px;
}

.caixinhas .caixinha {
    width: 55px;
    height: 24px;
    margin-top: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixinha.vermelha {
    background: #FF3030;
    margin-right: 5px;
}

.caixinha.laranja {
    background: #FF922E;
    margin-right: 5px;
    text-align: center;
}

.caixinha.verde {
    background: #2FBE34;
}

.caixinhas .caixinha p {
    font-size: 7px;
    line-height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}